.btn-primary {
  background-color: rgb(19, 78, 20);
  border: none;
  color:white;
  padding: 16px 32px;
  text-align:center;
  text-decoration: none;
  display:inline-block;
  font-size:16px;
  margin:4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration:0.4s;
  cursor: pointer;
  background-color:white;
  color:black;
  border:2px solid rgb(19, 78, 20);
}

.btn-primary:hover {
  cursor: pointer;
  opacity: 0.7;
  border-color: purple;
  transform: scale(1.2);
  text-decoration: none;
  background-color: white;
  color: black;
}


.container {
  padding-left: 100px;
  padding-right: 100;
}





.pokemon-button  {
  display: block;
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;

  font-family: 'Honk';

}

.pokemon-image {
  width: 280px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.modal-body #pokemonBackImage {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-body #pokemonImage {
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




.nav-link.active {
  font-weight: bold;
  color: purple !important;
}




#pokemonDescriptionContainer {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  max-height: 400px;
  overflow-y: auto;
}

#pokemonDescription {
  font-size: 30px;
  color: #050505;
  line-height: 1.5;
}




.modal-dialog {
  width: 80%;               /* Set the width of the modal (80% of screen width) */
  max-width: 1500px;        /* Set the maximum width */
  min-width: 200px;         /* Set a minimum width to avoid too small modals */
  max-height: 90vh;         /* Limit the height to 90% of the viewport height */
  overflow-y: auto;         /* Enable vertical scrolling if content exceeds max height */
  position: fixed;          /* Fixed position for the modal on the screen */
  top: 30px;                /* Add some top margin */
  right: 0;                 /* Align the modal to the right side of the screen */
  margin: 0;                /* Remove any default margin to keep it tight against the edge */
  display: flex;            /* Flexbox for vertical and horizontal centering */
  justify-content: flex-end;/* Align the content of the modal to the right */
  align-items: center;      /* Vertically center the modal */
  border-radius: 10px;      /* Rounded corners for the modal */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow around the modal */
}



#allPokemonLink {
  color: red;
}




body {
  background-image: url('/images/pokeBackground.jpg'); /* Link to the PNG file */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Scale the image to cover the entire screen */
  background-position: center; /* Center the background image */
  background-attachment: fixed; /* Fix the background to the viewport */
}

.navbar {
  position: relative;  /* Ensure the navbar has positioning */
  z-index: 10; /* Higher than 0 to make sure it's above the background */
  background-color: rgba(0, 0, 0, 0.7); /* Optional: Semi-transparent background */
}


.navbar-nav #searchInput {
  margin-right: 10px; /* Optional: Adds some space to the right of the search bar */
  width: 200px; /* Control the width of the search bar */
}